
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";

    // Func f = new Func();
    // var listProducts = (List<products>)ViewData["listProducts"];
}

<div class="row">
    <div class="col-sm-12">
        <div class="card">
            <div class="card-body">
                <div>
                    <div class="table-responsive table-desi table-product">
                        <table class="table table-1d all-package">
                            <thead>
                                <tr>
                                    <th>Ảnh</th>
                                    <th>Tên sản phẩm</th>
                                    <th>Loại</th>
                                    <th>Số lượng</th>
                                    <th>Giá</th>
                                    <th>Công khai</th>
                                    <th>Hành động</th>
                                </tr>
                            </thead>

                            <tbody>
                                @* @foreach (var item in listProducts)
                                {
                                    <tr>
                                        <td>
                                            <img src="@item.product_img" class="img-fluid" alt="" />
                                        </td>
                                        <td>
                                            <a href="~/Shop/Detail/@item.product_id" target="_blank">@item.product_name</a>
                                        </td>
                                        <td>
                                            <a href="javascript:void(0)">@item.product_types.product_type_name</a>
                                        </td>
                                        <td>@item.product_quantity</td>
                                        <td class="td-price">@f.NumberToStr(item.product_price)đ</td>
                                        @if(item.product_published == 1)
                                        {
                                            <td class="td-check">
                                                <span class="lnr lnr-checkmark-circle"></span>
                                            </td>
                                        }
                                        else
                                        {
                                            <td class="td-cross">
                                                <span class="lnr lnr-cross-circle"></span>
                                            </td>
                                        }
                                        <td>
                                            <ul>
                                                <li>
                                                    <a href="~/Shop/Detail/@item.product_id" target="_blank" title="Xem chi tiết">
                                                        <span class="lnr lnr-eye"></span>
                                                    </a>
                                                </li>

                                                <li>
                                                    <a href="~/Admin/Products/Edit/@item.product_id" title="Chỉnh sửa">
                                                        <span class="lnr lnr-pencil"></span>
                                                    </a>
                                                </li>
                                            </ul>
                                        </td>
                                    </tr>
                                } *@
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

            @*<div class="pagination-box">
                <nav class="ms-auto me-auto " aria-label="...">
                    <ul class="pagination pagination-primary">
                        <li class="page-item disabled">
                            <a class="page-link" href="javascript:void(0)"
                               tabindex="-1">Previous</a>
                        </li>
                        <li class="page-item active">
                            <a class="page-link" href="javascript:void(0)">1</a>
                        </li>
                        <li class="page-item">
                            <a class="page-link" href="javascript:void(0)">2</a>
                        </li>
                        <li class="page-item">
                            <a class="page-link" href="javascript:void(0)">3</a>
                        </li>
                        <li class="page-item">
                            <a class="page-link" href="javascript:void(0)">Next</a>
                        </li>
                    </ul>
                </nav>
            </div>*@
        </div>
    </div>
</div>