
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
    // Func f = new Func();
    // var listInv = (List<invoices>)ViewData["listInv"];
}

<div class="row">
    <div class="col-sm-12">
        <div class="card">
            <div class="card-body">
                <div>
                    <div class="table-responsive table-desi">
                        <table class="user-table invoice-table trans-table table table-striped">
                            <thead>
                                <tr>
                                    <th>Mã hoá đơn</th>
                                    <th>Mã khách hàng</th>
                                    <th>Họ và Tên</th>
                                    <th>Số điện thoại</th>
                                    <th>Tổng giá</th>
                                    @* <th>Trạng thái</th> *@
                                    <th>Ngày đặt</th>
                                    <th>Thanh toán</th>
                                    <th>Options</th>
                                </tr>
                            </thead>

                            <tbody>
                                @foreach (var item in ViewBag.invoices)
                                {
                                    string status = "";
                                    switch (item.UserId)
                                    {
                                        case 1:
                                            status = "success";
                                            break;
                                        case 2:
                                            status = "pending";
                                            break;
                                        case 3:
                                            status = "cancle";
                                            break;
                                    }
                                    <tr>
                                        <td>@item.Id</td>
                                        <td>@item.UserId</td>
                                        <td>@item.FullName_Order</td>
                                        <td>@item.PhoneNumber_Order</td>
                                        <td>@item.TotalPrice$</td>
                                        <td>@item.OrderDate</td>

                                        @*<td class="order-@status">
                                            <span>@item.invoice_status.invoice_status_name</span>
                                        </td> *@
                                        @* <td>@item.OderDate.ToString()</td> *@
                                        <td>@item.Vnpay_transaction</td>
                                        <td>
                                            <ul>
                                                <li>
                                                    <a href="@Url.Action("Print", "Invoices", new { Id = item.Id })" title="Xem chi tiết">
                                                        <span class="lnr lnr-eye"></span>
                                                    </a>
                                                </li>
                                            </ul>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

            <!-- Pagination Box Start -->
            @*<div class="pagination-box">
                <nav class="ms-auto me-auto " aria-label="...">
                    <ul class="pagination pagination-primary">
                        <li class="page-item disabled">
                            <a class="page-link" href="javascript:void(0)">Previous</a>
                        </li>
                        <li class="page-item active">
                            <a class="page-link" href="javascript:void(0)">1</a>
                        </li>
                        <li class="page-item">
                            <a class="page-link" href="javascript:void(0)">2</a>
                        </li>
                        <li class="page-item">
                            <a class="page-link" href="javascript:void(0)">3</a>
                        </li>
                        <li class="page-item">
                            <a class="page-link" href="javascript:void(0)">Next</a>
                        </li>
                    </ul>
                </nav>
            </div>*@
            <!-- Pagination Box End -->
        </div>
    </div>
</div>