@model IEnumerable<AppleStore.Models.Product>
@{
	ViewData["Title"] = "Home Page";
	int numOfQuanity = 1;
}

<style>
	.img-top {
		oject-fit: cover;
	}
</style>

<!-- BREADCRUMB -->
<div id="breadcrumb" class="section">
	<!-- container -->
	<div class="container">
		<!-- row -->
		<div class="row">
			<div class="col-md-12">
				<ul class="breadcrumb-tree">
					<li class="active"><a href=" /home">Home</a></li>
					<li><a asp-action="Index" asp-controller="Product">All Product</a></li>
					<li><a href="/product">Product</a></li>					
				</ul>
			</div>
		</div>
		<!-- /row -->
	</div>
	<!-- /container -->
</div>
<!-- /BREADCRUMB -->
	
	<!-- SECTION -->
	<div class="section">
		<!-- container -->
		<div class="container">
			<!-- row -->
			<div class="row">
				<!-- shop -->
				<div class="col-md-4 col-xs-6">
					<div class="shop">
						<div class="shop-img">
							<img src="~/img/ip14-12.webp" alt="" width="360" height="290" class="img-top">
						</div>
						<div class="shop-body">
							<h3>Iphone<br>Collection</h3>
							<a asp-controller="Product" asp-action="ShowIphone" class="cta-btn">Shop now <i class="fa fa-arrow-circle-right"></i></a>
						</div>
					</div>
				</div>
				<!-- /shop -->
				<!-- shop -->
				<div class="col-md-4 col-xs-6">
					<div class="shop">
						<div class="shop-img">
						<img src="~/img/mac1.png" alt="" width="360" height="290" class="img-top">
						</div>
						<div class="shop-body">
							<h3>Macbook<br>Collection</h3>
							<a	asp-controller ="Product" asp-action="ShowMacbook" class="cta-btn">Shop now <i class="fa fa-arrow-circle-right"></i></a>
						</div>
					</div>
				</div>
				<!-- /shop -->
				<!-- shop -->
				<div class="col-md-4 col-xs-6">
					<div class="shop">
						<div class="shop-img">
						<img src="~/img/awbac1.webp" alt="" width="360" height="290" class="img-top">
						</div>
						<div class="shop-body">
							<h3>Accessories<br>Collection</h3>
							<a asp-controller="Product" asp-action="ShowAccessories" class="cta-btn">Shop now <i class="fa fa-arrow-circle-right"></i></a>
						</div>
					</div>
				</div>
				<!-- /shop -->
			</div>
			<!-- /row -->
		</div>
		<!-- /container -->
	</div>
	<!-- /SECTION -->
	<!-- SECTION -->
	<div class="section">
		<!-- container -->
		<div class="container">
			<!-- row -->
			<div class="row">

				<!-- section title -->
				<div class="col-md-12">
					<div class="section-title">
						<h3 class="title">New Products</h3>
						<div class="section-nav">
							<ul class="section-tab-nav tab-nav">
								<li class="active"><a asp-controller="Product" asp-action="ShowIphone" >Iphones</a></li>

								<li><a asp-controller="Product" asp-action="ShowMacbook">Macbooks</a></li>

								<li><a asp-action="ShowAccessories" asp-controller="Product">Accessories</a></li>
							</ul>
						</div>
					</div>
				</div>
				<!-- /section title -->
				<!-- Products tab & slick -->
				<div class="col-md-12">
					<div class="row">
						<div class="products-tabs">
							<!-- tab -->
							<div id="tab1" class="tab-pane active">
								<div class="products-slick" data-nav="#slick-nav-1">

								@foreach (var item in Model)
								{
									<div class="product">
										<div class="product-img">
											<img src="@item.ImageUrl" alt="" />								
										</div>
										<div class="product-body">
											<p class="product-category">@item.Category.Name</p>
											<h3 class="product-name"><a href="#">@item.Name</a></h3>
											<h4 class="product-price">
												$@item.Price
											</h4>
											<div class="product-rating">
												<i class="fa fa-star"></i>
												<i class="fa fa-star"></i>
												<i class="fa fa-star"></i>
												<i class="fa fa-star"></i>
												<i class="fa fa-star"></i>
											</div>
											<div class="product-btns">
												<button class="add-to-wishlist">
													<i class="fa-regular fa-heart"></i><span class="tooltipp">add to wishlist</span>
												</button>
												<button class="add-to-compare">
													<i class="fa fa-exchange"></i><span class="tooltipp">add to compare</span>
												</button>
												<button class="quick-view">
													<a asp-controller="Product" asp-action="Detail" asp-route-id="@item.Id"><i class="fa fa-eye"></i></a><span class="tooltipp">quick view</span>
												</button>
											</div>
										</div>
										<div class="add-to-cart">
											@* <a asp-controller="ShoppingCart" asp-action="AddToCart" asp-route-productId="@item.Id" asp-route-quantity="@numOfQuanity">
												<button class="add-to-cart-btn" >
													<i class="fa fa-shopping-cart btn--success"></i> add to cart
												</button>
											</a> *@
											<button onclick="showSuccessToast();" class="add-to-cart-btn addToCartBtn btn--success" data-productId="@item.Id"><i class="fa fa-shopping-cart"></i> add to cart</button>
										
										</div>
									</div>
								}



									@* <!-- product -->
									<div class="product">
										<div class="product-img">
											<img src="./img/ap00.png" alt="">
											<div class="product-label">
												<span class="sale">-30%</span>
												<span class="new">NEW</span>
											</div>
										</div>
										<div class="product-body">
											<p class="product-category">Category</p>
											<h3 class="product-name"><a href="#">AirPods Max</a></h3>
											<h4 class="product-price">$980.00 <del class="product-old-price">$990.00</del></h4>
											<div class="product-rating">
												<i class="fa fa-star"></i>
												<i class="fa fa-star"></i>
												<i class="fa fa-star"></i>
												<i class="fa fa-star"></i>
												<i class="fa fa-star"></i>
											</div>
											<div class="product-btns">
												<button class="add-to-wishlist"><i class="fa fa-heart-o"></i><span class="tooltipp">add to wishlist</span></button>
												<button class="add-to-compare"><i class="fa fa-exchange"></i><span class="tooltipp">add to compare</span></button>
												<button class="quick-view"><i class="fa fa-eye"></i><span class="tooltipp">quick view</span></button>
											</div>
										</div>
										<div class="add-to-cart">
											<button class="add-to-cart-btn"><i class="fa fa-shopping-cart"></i> add to cart</button>
										</div>
									</div>
									<!-- /product -->

									<!-- product -->
									<div class="product">
										<div class="product-img">
											<img src="./img/mac1.png" alt="">
											<div class="product-label">
												<span class="new">NEW</span>
											</div>
										</div>
										<div class="product-body">
											<p class="product-category">Category</p>
											<h3 class="product-name"><a href="#">Macbook Air Pro</a></h3>
											<h4 class="product-price">$980.00 <del class="product-old-price">$990.00</del></h4>
											<div class="product-rating">
												<i class="fa fa-star"></i>
												<i class="fa fa-star"></i>
												<i class="fa fa-star"></i>
												<i class="fa fa-star"></i>
												<i class="fa fa-star-o"></i>
											</div>
											<div class="product-btns">
												<button class="add-to-wishlist"><i class="fa fa-heart-o"></i><span class="tooltipp">add to wishlist</span></button>
												<button class="add-to-compare"><i class="fa fa-exchange"></i><span class="tooltipp">add to compare</span></button>
												<button class="quick-view"><i class="fa fa-eye"></i><span class="tooltipp">quick view</span></button>
											</div>
										</div>
										<div class="add-to-cart">
											<button class="add-to-cart-btn"><i class="fa fa-shopping-cart"></i> add to cart</button>
										</div>
									</div>
									<!-- /product -->

									<!-- product -->
									<div class="product">
										<div class="product-img">
											<img src="./img/ap0.png"alt="">
											<div class="product-label">
												<span class="sale">-30%</span>
											</div>
										</div>
										<div class="product-body">
											<p class="product-category">Category</p>
											<h3 class="product-name"><a href="#">AirPods Pro</a></h3>
											<h4 class="product-price">$980.00 <del class="product-old-price">$990.00</del></h4>
											<div class="product-rating">
											</div>
											<div class="product-btns">
												<button class="add-to-wishlist"><i class="fa fa-heart-o"></i><span class="tooltipp">add to wishlist</span></button>
												<button class="add-to-compare"><i class="fa fa-exchange"></i><span class="tooltipp">add to compare</span></button>
												<button class="quick-view"><i class="fa fa-eye"></i><span class="tooltipp">quick view</span></button>
											</div>
										</div>
										<div class="add-to-cart">
											<button class="add-to-cart-btn"><i class="fa fa-shopping-cart"></i> add to cart</button>
										</div>
									</div>
									<!-- /product -->

									<!-- product -->
									<div class="product">
										<div class="product-img">
											<img src="./img/mac2.png" alt="">
										</div>
										<div class="product-body">
											<p class="product-category">Category</p>
											<h3 class="product-name"><a href="#">Macbook Air Pro</a></h3>
											<h4 class="product-price">$980.00 <del class="product-old-price">$990.00</del></h4>
											<div class="product-rating">
												<i class="fa fa-star"></i>
												<i class="fa fa-star"></i>
												<i class="fa fa-star"></i>
												<i class="fa fa-star"></i>
												<i class="fa fa-star"></i>
											</div>
											<div class="product-btns">
												<button class="add-to-wishlist"><i class="fa fa-heart-o"></i><span class="tooltipp">add to wishlist</span></button>
												<button class="add-to-compare"><i class="fa fa-exchange"></i><span class="tooltipp">add to compare</span></button>
												<button class="quick-view"><i class="fa fa-eye"></i><span class="tooltipp">quick view</span></button>
											</div>
										</div>
										<div class="add-to-cart">
											<button class="add-to-cart-btn"><i class="fa fa-shopping-cart"></i> add to cart</button>
										</div>
									</div>
									<!-- /product -->

									<!-- product -->
									<div class="product">
										<div class="product-img">
											<img src="./img/iPadAir.png" alt="">
										</div>
										<div class="product-body">
											<p class="product-category">Category</p>
											<h3 class="product-name"><a href="#">iPad Air</a></h3>
											<h4 class="product-price">$980.00 <del class="product-old-price">$990.00</del></h4>
											<div class="product-rating">
												<i class="fa fa-star"></i>
												<i class="fa fa-star"></i>
												<i class="fa fa-star"></i>
												<i class="fa fa-star"></i>
												<i class="fa fa-star"></i>
											</div>
											<div class="product-btns">
												<button class="add-to-wishlist"><i class="fa fa-heart-o"></i><span class="tooltipp">add to wishlist</span></button>
												<button class="add-to-compare"><i class="fa fa-exchange"></i><span class="tooltipp">add to compare</span></button>
												<button class="quick-view"><i class="fa fa-eye"></i><span class="tooltipp">quick view</span></button>
											</div>
										</div>
										<div class="add-to-cart">
											<button class="add-to-cart-btn"><i class="fa fa-shopping-cart"></i> add to cart</button>
										</div>
									</div>
									<!-- /product --> *@
								</div>
								<div id="slick-nav-1" class="products-slick-nav"></div>
							</div>
							<!-- /tab -->
						</div>
					</div>
				</div>
				<!-- Products tab & slick -->
			</div>
			<!-- /row -->
		</div>
		<!-- /container -->
	</div>
	<!-- /SECTION -->
	<!-- HOT DEAL SECTION -->
	<div id="hot-deal" class="section">
		<!-- container -->
		<div class="container">
			<!-- row -->
			<div class="row">
				<div class="col-md-12">
					<div class="hot-deal">
						<ul class="hot-deal-countdown">
							<li>
								<div>
									<h3 id ="days1""></h3>
									<span>Days</span>
								</div>
							</li>
							<li>
								<div>
									<h3 id="hours1"></h3>
									<span>Hours</span>
								</div>
							</li>
							<li>
								<div>
									<h3 id="minutes1"></h3>
									<span>Mins</span>
								</div>
							</li>
							<li>
								<div>
									<h3 id="seconds1"></h3>
									<span>Secs</span>
								</div>
							</li>
						</ul>
						<h2 class="text-uppercase">hot deal this week</h2>
						<p>New Collection Up to 50% OFF</p>
						<a class="primary-btn cta-btn" asp-controller="Product" asp-action="Index" >Shop now</a>
					</div>
				</div>
			</div>
			<!-- /row -->
		</div>
		<!-- /container -->
	</div>
	<!-- /HOT DEAL SECTION -->
	<!-- SECTION -->
	<div class="section">
		<!-- container -->
		<div class="container">
			<!-- row -->
			<div class="row">

				<!-- section title -->
				<div class="col-md-12">
					<div class="section-title">
						<h3 class="title">Top selling</h3>
						<div class="section-nav">
							<ul class="section-tab-nav tab-nav">
								<li class="active"><a asp-controller="Product" asp-action="ShowIphone">Iphones</a></li>

								<li><a asp-controller="Product" asp-action="ShowMacbook" >Macbooks</a></li>

								<li><a asp-action="ShowAccessories" asp-controller="Product" >Accessories</a></li>
							</ul>
						</div>
					</div>
				</div>
				<!-- /section title -->
				<!-- Products tab & slick -->
				<div class="col-md-12">
					<div class="row">
						<div class="products-tabs">
							<!-- tab -->
							<div id="tab2" class="tab-pane fade in active">
								<div class="products-slick" data-nav="#slick-nav-2">
									<!-- product -->
								@foreach (var item in Model)
								{
									<div class="product">

										<div class="product-img">
											<img src="@item.ImageUrl" alt="" />
											<div class="product-label">
												<span class="sale">-30%</span>
												<span class="new">NEW</span>
											</div>
										</div>
										
										<div class="product-body">
											<p class="product-category">@item.Category.Name</p>
											<h3 class="product-name"><a href="#">@item.Name</a></h3>
											<h4 class="product-price">
												$@item.Price<del class="product-old-price">$9999.00</del>
											</h4>
											<div class="product-rating">
												<i class="fa fa-star"></i>
												<i class="fa fa-star"></i>
												<i class="fa fa-star"></i>
												<i class="fa fa-star"></i>
												<i class="fa fa-star"></i>
											</div>
											<div class="product-btns">
												<button class="add-to-wishlist">
													<i class="fa-regular fa-heart"></i><span class="tooltipp">add to wishlist</span>
												</button>
												<button class="add-to-compare">
													<i class="fa fa-exchange"></i><span class="tooltipp">add to compare</span>
												</button>
												<button class="quick-view">
													<a asp-controller="Product" asp-action="Detail" asp-route-id="@item.Id"><i class="fa fa-eye"></i></a><span class="tooltipp">quick view</span>
												</button>
											</div>
										</div>
										<div class="add-to-cart">
											@* <a  asp-route-productId="@item.Id" asp-route-quantity="@numOfQuanity">
												<button onclick="showSuccessToast();" class="add-to-cart-btn btn--success">
													<i class="fa fa-shopping-cart"></i> add to cart
												</button>

											</a> *@
											<button onclick="showSuccessToast();" class="add-to-cart-btn addToCartBtn btn--success" data-productId="@item.Id"><i class="fa fa-shopping-cart"></i> add to cart</button>

										</div>
									</div>
								}
									@* <div class="product">
										<div class="product-img">
											<img src="./img/product06.png" alt="">
											<div class="product-label">
												<span class="sale">-30%</span>
												<span class="new">NEW</span>
											</div>
										</div>
										<div class="product-body">
											<p class="product-category">Category</p>
											<h3 class="product-name"><a href="#">product name goes here</a></h3>
											<h4 class="product-price">$980.00 <del class="product-old-price">$990.00</del></h4>
											<div class="product-rating">
												<i class="fa fa-star"></i>
												<i class="fa fa-star"></i>
												<i class="fa fa-star"></i>
												<i class="fa fa-star"></i>
												<i class="fa fa-star"></i>
											</div>
											<div class="product-btns">
											<button class="add-to-wishlist"><i class="fa-regular fa-heart"></i><span class="tooltipp">add to wishlist</span></button>
												<button class="add-to-compare"><i class="fa fa-exchange"></i><span class="tooltipp">add to compare</span></button>
												<button class="quick-view"><i class="fa fa-eye"></i><span class="tooltipp">quick view</span></button>
											</div>
										</div>
										<div class="add-to-cart">
											<button class="add-to-cart-btn"><i class="fa fa-shopping-cart"></i> add to cart</button>
										</div>
									</div>
									<!-- /product -->
									<!-- product -->
									<div class="product">
										<div class="product-img">
											<img src="./img/xsmax.png" alt="">
											<div class="product-label">
												<span class="new">NEW</span>
											</div>
										</div>
										<div class="product-body">
											<p class="product-category">Category</p>
											<h3 class="product-name"><a href="#">product name goes here</a></h3>
											<h4 class="product-price">$980.00 <del class="product-old-price">$990.00</del></h4>
											<div class="product-rating">
												<i class="fa fa-star"></i>
												<i class="fa fa-star"></i>
												<i class="fa fa-star"></i>
												<i class="fa fa-star"></i>
												<i class="fa fa-star-o"></i>
											</div>
											<div class="product-btns">
											<button class="add-to-wishlist"><i class="fa-regular fa-heart"></i><span class="tooltipp">add to wishlist</span></button>
												<button class="add-to-compare"><i class="fa fa-exchange"></i><span class="tooltipp">add to compare</span></button>
												<button class="quick-view"><i class="fa fa-eye"></i><span class="tooltipp">quick view</span></button>
											</div>
										</div>
										<div class="add-to-cart">
											<button class="add-to-cart-btn"><i class="fa fa-shopping-cart"></i> add to cart</button>
										</div>
									</div>
									<!-- /product -->
									<!-- product -->
									<div class="product">
										<div class="product-img">
											<img src="./img/iphone15_1.png" alt="">
											<div class="product-label">
												<span class="sale">-30%</span>
											</div>
										</div>
										<div class="product-body">
											<p class="product-category">Category</p>
											<h3 class="product-name"><a href="#">product name goes here</a></h3>
											<h4 class="product-price">$980.00 <del class="product-old-price">$990.00</del></h4>
											<div class="product-rating">
											</div>
											<div class="product-btns">
											<button class="add-to-wishlist"><i class="fa-regular fa-heart"></i><span class="tooltipp">add to wishlist</span></button>
												<button class="add-to-compare"><i class="fa fa-exchange"></i><span class="tooltipp">add to compare</span></button>
												<button class="quick-view"><i class="fa fa-eye"></i><span class="tooltipp">quick view</span></button>
											</div>
										</div>
										<div class="add-to-cart">
											<button class="add-to-cart-btn"><i class="fa fa-shopping-cart"></i> add to cart</button>
										</div>
									</div>
									<!-- /product -->
									<!-- product -->
									<div class="product">
										<div class="product-img">
											<img src="./img/iphone15_2.png" alt="">
										</div>
										<div class="product-body">
											<p class="product-category">Category</p>
											<h3 class="product-name"><a href="#">product name goes here</a></h3>
											<h4 class="product-price">$980.00 <del class="product-old-price">$990.00</del></h4>
											<div class="product-rating">
												<i class="fa fa-star"></i>
												<i class="fa fa-star"></i>
												<i class="fa fa-star"></i>
												<i class="fa fa-star"></i>
												<i class="fa fa-star"></i>
											</div>
											<div class="product-btns">
											<button class="add-to-wishlist"><i class="fa-regular fa-heart"></i><span class="tooltipp">add to wishlist</span></button>
												<button class="add-to-compare"><i class="fa fa-exchange"></i><span class="tooltipp">add to compare</span></button>
												<button class="quick-view"><i class="fa fa-eye"></i><span class="tooltipp">quick view</span></button>
											</div>
										</div>
										<div class="add-to-cart">
											<button class="add-to-cart-btn"><i class="fa fa-shopping-cart"></i> add to cart</button>
										</div>
									</div>
									<!-- /product -->
									<!-- product -->
									<div class="product">
										<div class="product-img">
											<img src="./img/iphone11.png" alt="">
										</div>
										<div class="product-body">
											<p class="product-category">Category</p>
											<h3 class="product-name"><a href="#">product name goes here</a></h3>
											<h4 class="product-price">$980.00 <del class="product-old-price">$990.00</del></h4>
											<div class="product-rating">
												<i class="fa fa-star"></i>
												<i class="fa fa-star"></i>
												<i class="fa fa-star"></i>
												<i class="fa fa-star"></i>
												<i class="fa fa-star"></i>
											</div>
											<div class="product-btns">
											<button class="add-to-wishlist"><i class="fa-regular fa-heart"></i><span class="tooltipp">add to wishlist</span></button>
												<button class="add-to-compare"><i class="fa fa-exchange"></i><span class="tooltipp">add to compare</span></button>
												<button class="quick-view"><i class="fa fa-eye"></i><span class="tooltipp">quick view</span></button>
											</div>
										</div>
										<div class="add-to-cart">
											<button class="add-to-cart-btn"><i class="fa fa-shopping-cart"></i> add to cart</button>
										</div>
									</div>
									<!-- /product --> *@
								</div>
								<div id="slick-nav-2" class="products-slick-nav"></div>
							</div>
							<!-- /tab -->
						</div>
					</div>
				</div>
				<!-- /Products tab & slick -->
			</div>
			<!-- /row -->
		</div>
		<!-- /container -->
	</div>
	<!-- /SECTION -->
	<!-- SECTION -->
	<div class="section">
		<!-- container -->
		<div class="container">
			<!-- row -->
			<div class="row">
				<div class="col-md-4 col-xs-6">
					<div class="section-title">
						<h4 class="title">Top Iphone</h4>
						<div class="section-nav">
							<div id="slick-nav-3" class="products-slick-nav"></div>
						</div>
					</div>

					<div class="products-widget-slick" data-nav="#slick-nav-3">
						<div>
							<!-- product widget -->
							<div class="product-widget">
								<div class="product-img">
									<img src="~/img/ip15-1.webp" alt="">
								</div>
								<div class="product-body">
									<p class="product-category">Iphone</p>
									<h3 class="product-name"><a href="#">iphone15ProMax 512GB</a></h3>
									<h4 class="product-price">$980.00 <del class="product-old-price">$990.00</del></h4>
								</div>
							</div>
							<!-- /product widget -->
							<!-- product widget -->
							<div class="product-widget">
								<div class="product-img">
									<img src="~/img/ip14-1.webp" alt="">
								</div>
								<div class="product-body">
								<p class="product-category">Iphone</p>
									<h3 class="product-name"><a href="#">iphone14promax 512GB</a></h3>
									<h4 class="product-price">$980.00 <del class="product-old-price">$990.00</del></h4>
								</div>
							</div>
							<!-- /product widget -->
							<!-- product widget -->
							<div class="product-widget">
								<div class="product-img">
									<img src="~/img/ip13-1.webp" alt="">
								</div>
								<div class="product-body">
									<p class="product-category">Iphone</p>
									<h3 class="product-name"><a href="#">iphone13Pro 99%</a></h3>
									<h4 class="product-price">$980.00 <del class="product-old-price">$990.00</del></h4>
								</div>
							</div>
							<!-- product widget -->
						</div>

						<div>
							<!-- product widget -->
							<div class="product-widget">
								<div class="product-img">
									<img src="./img/ip15-2.webp" alt="">
								</div>
								<div class="product-body">
									<p class="product-category">Iphone</p>
									<h3 class="product-name"><a href="#">iphone15pro 256GB</a></h3>
									<h4 class="product-price">$980.00 <del class="product-old-price">$990.00</del></h4>
								</div>
							</div>
							<!-- /product widget -->
							<!-- product widget -->
							<div class="product-widget">
								<div class="product-img">
									<img src="~/img/ip15-3.webp" alt="">
								</div>
								<div class="product-body">
									<p class="product-category">Iphone</p>
									<h3 class="product-name"><a href="#">iphone15 pro 512GB</a></h3>
									<h4 class="product-price">$980.00 <del class="product-old-price">$990.00</del></h4>
								</div>
							</div>
							<!-- /product widget -->
							<!-- product widget -->
							<div class="product-widget">
								<div class="product-img">
									<img src="~/img/ip14-2.webp" alt="">
								</div>
								<div class="product-body">
									<p class="product-category">Iphone</p>
									<h3 class="product-name"><a href="#">iphone14 pro 256GB</a></h3>
									<h4 class="product-price">$980.00 <del class="product-old-price">$990.00</del></h4>
								</div>
							</div>
							<!-- product widget -->
						</div>
					</div>
				</div>

				<div class="col-md-4 col-xs-6">
					<div class="section-title">
						<h4 class="title">Top Macbook</h4>
						<div class="section-nav">
							<div id="slick-nav-4" class="products-slick-nav"></div>
						</div>
					</div>

					<div class="products-widget-slick" data-nav="#slick-nav-4">
						<div>
							<!-- product widget -->
							<div class="product-widget">
								<div class="product-img">
									<img src="~/img/mac1.png" alt="">
								</div>
								<div class="product-body">
									<p class="product-category">Macbook</p>
									<h3 class="product-name"><a href="#">Macbookair M1 2023 </a></h3>
									<h4 class="product-price">$9880.00 <del class="product-old-price">$9990.00</del></h4>
								</div>
							</div>
							<!-- /product widget -->
							<!-- product widget -->
							<div class="product-widget">
								<div class="product-img">
									<img src="~/img/macpro4.webp" alt="">
								</div>
								<div class="product-body">
								<p class="product-category">Macbook</p>
									<h3 class="product-name"><a href="#">Macbookpro m2 2024</a></h3>
									<h4 class="product-price">$9600.00 <del class="product-old-price">$9990.00</del></h4>
								</div>
							</div>
							<!-- /product widget -->
							<!-- product widget -->
							<div class="product-widget">
								<div class="product-img">
									<img src="~/img/macair2.webp" alt="">
								</div>
								<div class="product-body">
								<p class="product-category">Macbook</p>
									<h3 class="product-name"><a href="#">macbookair m2 2023 99%</a></h3>
									<h4 class="product-price">$6780.00 <del class="product-old-price">$7990.00</del></h4>
								</div>
							</div>
							<!-- product widget -->
						</div>

						<div>
							<!-- product widget -->
							<div class="product-widget">
								<div class="product-img">
									<img src="~/img/macpro0.webp" alt="">
								</div>
								<div class="product-body">
								<p class="product-category">Macbook</p>
									<h3 class="product-name"><a href="#">macbookpro m1 2024 1TB</a></h3>
									<h4 class="product-price">$9880.00 <del class="product-old-price">$9999.00</del></h4>
								</div>
							</div>
							<!-- /product widget -->
							<!-- product widget -->
							<div class="product-widget">
								<div class="product-img">
									<img src="~/img/macpro1.webp" alt="">
								</div>
								<div class="product-body">
								<p class="product-category">Macbook</p>
									<h3 class="product-name"><a href="#">macbookpro m2 plus 2023</a></h3>
									<h4 class="product-price">$9599.00 <del class="product-old-price">$9870.00</del></h4>
								</div>
							</div>
							<!-- /product widget -->
							<!-- product widget -->
							<div class="product-widget">
								<div class="product-img">
									<img src="~/img/macair4.webp" alt="">
								</div>
								<div class="product-body">
								<p class="product-category">Macbook</p>
									<h3 class="product-name"><a href="#">macbookair 2022 M1 512gb</a></h3>
									<h4 class="product-price">$6980.00 <del class="product-old-price">$7690.00</del></h4>
								</div>
							</div>
							<!-- product widget -->
						</div>
					</div>
				</div>

				<div class="clearfix visible-sm visible-xs"></div>

				<div class="col-md-4 col-xs-6">
					<div class="section-title">
						<h4 class="title">Top Accessories</h4>
						<div class="section-nav">
							<div id="slick-nav-5" class="products-slick-nav"></div>
						</div>
					</div>

					<div class="products-widget-slick" data-nav="#slick-nav-5">
						<div>
							<!-- product widget -->
							<div class="product-widget">
								<div class="product-img">
									<img src="~/img/awden2.webp" alt="">
								</div>
								<div class="product-body">
									<p class="product-category">Accessories</p>
									<h3 class="product-name"><a href="#">Applewatch pro 2024</a></h3>
									<h4 class="product-price">$980.00 <del class="product-old-price">$990.00</del></h4>
								</div>
							</div>
							<!-- /product widget -->
							<!-- product widget -->
							<div class="product-widget">
								<div class="product-img">
									<img src="~/img/ap00.png" alt="">
								</div>
								<div class="product-body">
								<p class="product-category">Accessories</p>
									<h3 class="product-name"><a href="#">HeadPhone Plus 2024</a></h3>
									<h4 class="product-price">$980.00 <del class="product-old-price">$990.00</del></h4>
								</div>
							</div>
							<!-- /product widget -->
							<!-- product widget -->
							<div class="product-widget">
								<div class="product-img">
									<img src="~/img/ap1.webp" alt="">
								</div>
								<div class="product-body">
								<p class="product-category">Accessories</p>
									<h3 class="product-name"><a href="#">airpod pro t6</a></h3>
									<h4 class="product-price">$980.00 <del class="product-old-price">$990.00</del></h4>
								</div>
							</div>
							<!-- product widget -->
						</div>

						<div>
							<!-- product widget -->
							<div class="product-widget">
								<div class="product-img">
									<img src="~/img/ap0.png" alt="">
								</div>
								<div class="product-body">
								<p class="product-category">Accessories</p>
									<h3 class="product-name"><a href="#">airpro Pro 2024</a></h3>
									<h4 class="product-price">$980.00 <del class="product-old-price">$990.00</del></h4>
								</div>
							</div>
							<!-- /product widget -->
							<!-- product widget -->
							<div class="product-widget">
								<div class="product-img">
									<img src="~/img/imac2-44.jpg" alt="">
								</div>
								<div class="product-body">
								<p class="product-category">Accessories</p>
									<h3 class="product-name"><a href="#">Imac pro 2024 49INCH</a></h3>
									<h4 class="product-price">$980.00 <del class="product-old-price">$990.00</del></h4>
								</div>
							</div>
							<!-- /product widget -->
							<!-- product widget -->
							<div class="product-widget">
								<div class="product-img">
									<img src="~/img/imac1-full.webp" alt="">
								</div>
								<div class="product-body">
								<p class="product-category">Accessories</p>
									<h3 class="product-name"><a href="#">product name goes here</a></h3>
									<h4 class="product-price">$980.00 <del class="product-old-price">$990.00</del></h4>
								</div>
							</div>
							<!-- product widget -->
						</div>
					</div>
				</div>

			</div>
			<!-- /row -->
		</div>
		<!-- /container -->
	</div>
	<!-- /SECTION -->
	
<script>
	var second = 1000,
		minute = second * 60,
		hour = minute * 60,
		day = hour * 24;

	var countDown = new Date("Apr 20, 2024 00:00:00").getTime(),
		x = setInterval(function () {
			var now = new Date().getTime(),
				distance = countDown - now;

			(document.getElementById("days1").innerText = Math.floor(distance / day)),
				(document.getElementById("hours1").innerText = Math.floor(
					(distance % day) / hour
				)),
				(document.getElementById("minutes1").innerText = Math.floor(
					(distance % hour) / minute
				)),
				(document.getElementById("seconds1").innerText = Math.floor(
					(distance % minute) / second
				));
		}, second);
</script>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<script>
	$(document).ready(function () {
		$('.addToCartBtn').click(function () {
			var productId = $(this).data('productid');
			var quantity = 1; // Hoặc lấy số lượng từ ô nhập liệu tùy theo cấu trúc của trang của bạn

			$.ajax({
				url: '/ShoppingCart/AddToCart', // Đảm bảo URL đúng
				type: 'POST',
				data: { productId: productId, quantity: quantity },
				success: function (response) {
					// Xử lý kết quả ở đây nếu cần
					console.log('Sản phẩm đã được thêm vào giỏ hàng');
				},
				error: function (xhr, status, error) {
					// Xử lý lỗi ở đây nếu cần
					console.error('Lỗi khi thêm sản phẩm vào giỏ hàng:', error);
				}
			});
		});
	});
</script>